.header {
    width: 90%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #abd7eb;
    padding: 0 10%;
    border-radius: 25px;
  }
  
  .header h2 {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 4rem;
    font-family: Garamond;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: grey;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
